@using UIBlazor.Components.Chat
@inherits RadzenComponent

@inject ChatService ChatService
@inject DialogService DialogService

<div @ref="@Element" @attributes="Attributes" class="@GetCssClass()" style="@Style" id="@GetId()" >
    <!-- Chat Header -->
    <RadzenStack class="rz-chat-header" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Gap="0.5rem">
        <UsageIndicators Messages="@Messages" />
        <RadzenStack class="rz-chat-header-actions" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="0.5rem">
            @if (ProfileManager.Current.Profiles.Count > 0)
            {
                <RadzenDropDown TValue="string" Data="@ProfileManager.Current.Profiles" TextProperty="Name" ValueProperty="Id"
                                Value="@ProfileManager.Current.ActiveProfileId" Change="@OnProfileChangeAsync"
                                Placeholder="Select Profile"
                                Style="width: 180px;" />
            }
            <RadzenButton Icon="delete_history" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base"
                            Click="@ClearChatAsync" Title="Clear chat history" class="rz-chat-header-clear" />
            <RadzenButton Icon="settings" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base"
                            Click="@OnShowSettingsAsync" Title="Settings" class="rz-chat-header-settings" />
        </RadzenStack>
    </RadzenStack>

    <!-- Chat Messages -->
    <div class="rz-chat-messages" id="chat-messages">
        @if (Messages.Count == 0)
        {
            <RadzenStack class="rz-chat-empty" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="1rem">
                <RadzenIcon Icon="chat_bubble_outline" class="rz-text-secondary-color" />
                <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-2 rz-text-tertiary-color">@EmptyMessage</RadzenText>
            </RadzenStack>
        }
        else
        {
            @foreach (var message in Messages)
            {
                <ChatMessageView 
                    @key="message.Id"
                    Message="@message" 
                    IsLast="@(message == Messages.LastOrDefault())"
                    IsLoading="@IsLoading"
                    OnToolApproval="@HandleToolApprovalAsync"
                    OnExecutePlan="@ExecutePlanAsync"
                    OnEdit="@((m) => OnEditMessage(m))"
                    OnCancelEdit="@((m) => OnCancelEdit(m))"
                    OnSaveEdit="@OnSaveEditAsync"
                    OnDelete="@OnDeleteMessageAsync"
                    OnRegenerate="@OnRegenerateLastAsync" />
            }
        }
    </div>

    <!-- Chat Input -->
    <AiChatInput
        IsLoading="IsLoading"
        SendMessage="SendMessageAsync"
        Cancel="CancelResponceAsync">
    </AiChatInput>
</div>
